*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#ffd6eb,#ffc2e2,#ffe6f2);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.screen{
width:100%;
max-width:420px;
}

.hidden{
display:none;
}

.card{
background:white;
padding:30px;
border-radius:25px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.15);
}

h1{
color:#ff4fa0;
margin-bottom:10px;
}

.subtitle{
color:#777;
margin-bottom:20px;
}

.bear{
font-size:70px;
margin-bottom:15px;
}

input{
width:100%;
padding:15px;
border-radius:15px;
border:2px solid #ffb6d9;
font-size:16px;
margin-bottom:20px;
outline:none;
}

button{
width:100%;
padding:15px;
background:#ff4fa0;
color:white;
font-size:18px;
border:none;
border-radius:15px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#ff2b8c;
}

.top{
display:flex;
justify-content:space-between;
background:white;
padding:15px;
border-radius:18px;
margin-bottom:15px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.item{
font-weight:bold;
font-size:18px;
}

.progressBox{
background:white;
padding:15px;
border-radius:18px;
margin-bottom:15px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.progressText{
text-align:center;
margin-bottom:10px;
font-weight:bold;
}

.progress{
height:12px;
background:#eee;
border-radius:20px;
overflow:hidden;
}

#progressFill{
height:100%;
width:0%;
background:#ff4fa0;
transition:.3s;
}

.runnerArea{
height:90px;
background:white;
border-radius:18px;
display:flex;
align-items:center;
position:relative;
margin-bottom:15px;
overflow:hidden;
box-shadow:0 8px 20px rgba(0,0,0,.1);
}

#runner{
font-size:45px;
position:absolute;
left:10px;
transition:.5s;
}

.finish{
position:absolute;
right:15px;
font-size:38px;
}

.questionBox{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
}

#question{
margin-bottom:20px;
text-align:center;
}

.answerBtn{
width:100%;
margin-top:12px;
}

.correct{
background:#4CAF50 !important;
}

.wrong{
background:#f44336 !important;
}

#grade{
margin:20px 0;
font-size:35px;
color:#ff4fa0;
}